<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControlServlet</servlet-name>
        <servlet-class>Test.ControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>control.LogoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSliderControl</servlet-name>
        <servlet-class>control.AddSliderControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSliderControl</servlet-name>
        <servlet-class>control.EditSliderControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>control.HomeControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlServlet</servlet-name>
        <url-pattern>/ControlServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSliderControl</servlet-name>
        <url-pattern>/AddSlider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSliderControl</servlet-name>
        <url-pattern>/EditSlider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1800
        </session-timeout>
    </session-config>
</web-app>
