<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControlServlet</servlet-name>
        <servlet-class>Test.ControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassControl</servlet-name>
        <servlet-class>control.ForgetPassControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentControl</servlet-name>
        <servlet-class>control.PaymentControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlServlet</servlet-name>
        <url-pattern>/ControlServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassControl</servlet-name>
        <url-pattern>/ForgetPassControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentControl</servlet-name>
        <url-pattern>/PaymentControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
