<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControlServlet</servlet-name>
        <servlet-class>Test.ControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>control.LogoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserControl</servlet-name>
        <servlet-class>control.ManageUserControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewUser</servlet-name>
        <servlet-class>control.AddNewUserControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetUserControl</servlet-name>
        <servlet-class>control.SetUserControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlServlet</servlet-name>
        <url-pattern>/ControlServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserControl</servlet-name>
        <url-pattern>/manageuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewUser</servlet-name>
        <url-pattern>/addNewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetUserControl</servlet-name>
        <url-pattern>/setUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
